body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: hsl(264, 16%, 88%);
    background-image: url('../images/pattern.png');
    /* background-image: url('../images/pattern.png'); */
    background-repeat: repeat;
}